* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
  color: #6c6c6c;
  line-height: 24px;
  font-family: "Myriad Pro";
}

.wrapper {
  position: relative;
}

.container {
  max-width: 976px;
  padding: 0 15px;
  box-sizing: content-box;
  margin: 0 auto;
}

p, ul, ol, figure {
  margin: 0 0 10px 0;
}

* + p, * + ul, * + ol , * + figure {
  margin-top: 10px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0.67em 0;
}

* + h1, * + h2, * + h3, * + h4, * + h5, * + h6 {
  margin-top: 0.67em;
}

a, .link {
  color: #6c6c6c;
  text-decoration: none;
}

a:hover, .link:hover {
  color: #5094f2;
  border-color: #5094f2;
}

img {
  width: 100%;
  object-fit: cover;
  height: auto;
}

.logo {
  display: inline-block;
}

.bg-color-blue {
  background-color: #5094f2;
}

.bg-color-red {
  background-color: #d94748;
}

.bg-color-yellow {
  background-color: #ebbb11;
}

@media (min-width: 641px ){
  .container {
    padding: 0 30px;
  }
}
